* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2009_2 {
    width: 100%;
    height: 1024px;
    background: rgba(250,243,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2009_168 {
    width: 660px;
    height: 461px;
    background: url("../images/v2009_168.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 335px;
    left: 257px;
    overflow: hidden;
  }
  .v2009_512 {
    width: 558px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 441px;
    left: 114px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .v2010_3 {
    width: 412px;
    height: 62px;
    background: url("../images/v2010_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 16px;
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 114px;
    overflow: hidden;
  }
  .v2010_4 {
    width: 428px;
    height: 62px;
    background: rgba(255,255,255,1);
    padding: 16px 16px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v2010_5 {
    width: 343px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2010_6 {
    width: 106px;
    height: 62px;
    background: rgba(120,19,192,1);
    padding: 24px 32px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 417px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v2010_7 {
    width: 74px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2009_492 {
    width: 100%;
    height: 136px;
    background: rgba(0,0,0,1);
    padding: 42px 64px;
    margin: 316px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2009_493 {
    width: 893px;
    height: 52px;
    background: url("../images/v2009_493.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 469px;
    overflow: hidden;
  }
  .v2009_494 {
    width: 19px;
    color: rgba(198,119,255,1);
    position: absolute;
    top: 11px;
    left: 15px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2009_495 {
    width: 119px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 52px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2009_496 {
    width: 119px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 219px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2009_497 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 386px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2009_498 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 572px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v2009_499 {
    width: 93px;
    height: 52px;
    background: rgba(255,255,255,1);
    padding: 14px 24px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 758px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
    overflow: hidden;
  }
  .v2009_500 {
    width: 45px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 24px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2047_65 {
    width: 262px;
    height: 64px;
    background: url("../images/v2047_65.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 37px;
    overflow: hidden;
  }
  