<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피해 사례 상세 조회 - 수사 중</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/case_detail_unarrested.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header class="header">
        <div class="catches-logo" id="logo"></div>
        <div class=header-wrapper>
            <ul>
                <li><a href="{{ url_for('main.index') }}">홈</a></li>
                <li><a href="{{ url_for('main.case_info') }}">피해 사례 등록</a></li>
                <span class="li-color"><a href="{{ url_for('main.case_search') }}">피해 사례 조회</a></span>
                <li><a href="{{ url_for('main.phishing_info') }}">피싱 사이트 등록</a></li>
                <li><a href="{{ url_for('main.phishing_search') }}">피싱 사이트 조회</a></li>
            </ul>
            <div class="login-btn">
                {% if 'user_id' in session %}
                    <span class="login-text"><a href="{{ url_for('main.mypage') }}">마이페이지</a></span>
                {% else %}
                    <span class="login-text"><a href="{{ url_for('main.login') }}">로그인</a></span>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="main-content">
        <section>
            <form>
                <div class="header-container">
                    <p class="date">사례 등록일: {{ case.case_date }}</p>
                    <!--<h2>사례 등록일: 2024년 5월 1일</h2>-->
                    <button type="submit">미검거</button>
                </div>
                <div class="form-group">
                    <label for="bank_name" class="fixed-label">은행명</label>
                    <input type="text" id="bank_name" name="bank_name" placeholder="xx은행" required aria-label="은행명" value="{{case.bank_name}}" readonly>
                </div>
                <div class="form-group">
                    <label for="bank_account" class="fixed-label">계좌번호</label>
                    <input type="text" id="bank_account" name="bank_account" placeholder="0000000000000000" required aria-label="계좌번호" value="{{case.bank_account}}" readonly>
                </div>
                <div class="form-group">
                    <label for="bank_nickname" class="fixed-label">명의자 성명</label>
                    <input type="text" id="bank_nickname" name="bank_nickname" placeholder="김철수" required aria-label="명의자 성명" value="{{case.bank_nickname}}" readonly>
                </div>
                <div class="form-group">
                    <label for="suspect_phone" class="fixed-label">연락처</label>
                    <input type="tel" id="suspect_phone" name="suspect_phone"  required aria-label="연락처" value="{{case.suspect_phone}}" readonly>
                </div>
                <div class="form-group">
                    <label for="case_date" class="fixed-label">입금일</label>
                    <input type="date" id="case_date" name="case_date" required aria-label="입금일" value="{{case.bank_date}}" readonly>
                </div>
                <div class="form-group">
                    <label for="case_price" class="fixed-label">입금 금액</label>
                    <input type="number" id="case_price" name="case_price" placeholder="1000000" required aria-label="입금 금액" value="{{case.case_price}}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="case_type" class="fixed-label">피해 유형</label>
                    <input type="text" id="case_type" name="case_type" value="{{case.case_type}}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="platform_type" class="fixed-label">피해 발생 플랫폼 종류</label>
                    <input type="text" id="platform_type" name="platform_type" value="{{case.platform_name}}" readonly>
                </div>
                <div class="form-group">
                    <label for="case_item" class="fixed-label">거래 물품명</label>
                    <input type="text" id="case_item" name="case_item"  required aria-label="거래 물품명" value="{{case.case_item}}" readonly>
                </div>
                <div class="form-group">
                    <label for="suspent_id" class="fixed-label">용의자 사용 ID</label>
                    <input type="text" id="suspent_id" name="suspent_id" required aria-label="용의자 사용 ID" value="{{case.suspent_id}}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="phishing_url" class="fixed-label">사기 게시글 URL</label>
                    <input type="url" id="phishing_url" name="phishing_url" required aria-label="사기 게시글 URL" value="{{case.platform_url}}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="user_name" class="fixed-label">작성자</label>
                    <input type="text" id="user_nick" name="user_nick" value="{{case.user_nick}}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="case_description" class="fixed-label">사건 개요</label>
                    <textarea id="case_description" name="case_description" rows="4" required aria-label="사건 개요" readonly>{{case.case_content}}</textarea>
                </div>
            </form>
            <div>
                {% if 'user_id' in session %}
                <form method="post" action="{{ url_for('main.case_delete', case_key=case.case_key) }}">
                    <button type="submit" class="submit-btn" id="DelSubmitBtn">삭제하기</button>
                </form>
                {% endif %}
            </div>            
        </section>
    </main>
    <script>
        document.getElementById('logo').addEventListener('click', function() {
            window.location.href = "{{ url_for('main.index') }}";
        });
    </script>
</body>
</html>
