<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    
</head>
<body>
    <header class="header">
        <div  class="catches-logo"></div>
            <div class=header-wrapper>
                <ul>
                    <span class="li-color"><a href="{{ url_for('main.index') }}">홈</a></span>
                    <li><a href="{{ url_for('main.case_info') }}">피해 사례 등록</a></li>
                    <li><a href="{{ url_for('main.case_search') }}">피해 사례 조회</a></li>
                    <li><a href="{{ url_for('main.phishing_info') }}">피싱 사이트 등록</a></li>
                    <li><a href="{{ url_for('main.phishing_search') }}">피싱 사이트 조회</a></li>
                </ul>
                <div class=login-btn>
                    <span  class="login-text"><a href="{{ url_for('main.login') }}">로그인</a></span>
                </div>
            </div>
    </header>
    <main class="home-main">
        <div  class="catches-cat"></div>
        <span  class="home-text">캣치스와 함께 안전한 어쩌구 저쩌구</span>
        <section  class="white-section">
            <div  class="white-box">
                <span  class="box-text">회원이 되어 범죄자 잡기에 동참하세여</span>
            </div>
        </section>
        <div class=purple-btn>
            <span  class="btn-text"><a href="{{ url_for('main.register') }}">회원가입</a></span>
        </div>

    </main>
</body>
</html>