<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록 사기 사례</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_pishing.css') }}" >
   
</head>
<body>
    <header class="header">
       
    </header>
    <main class="main-content">
        <section class="pishing-info">
            <div class="pishing-header">
                <h1>등록 피싱 사이트</h1>
        </section>
        <section class="pishing-section">
            <table class="pishing-table">
                <thead>
                    <tr>
                        <th>계좌번호</th>
                        <th>명의자 성명</th>
                        <th>피해 유형</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                    <tr>
                        <td>계좌번호01</td>
                        <td>김00</td>
                        <td>온라인</td>
                        <td>2024.05.05</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
