<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록 사기 사례</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_case.css') }}" >
   
</head>
<body>
    <header class="header">
        <div class="catches-logo" id="logo"></div>
        <div class=header-wrapper>
            <ul>                    
                <li><a href="{{ url_for('main.index') }}">홈</a></li>
                <li><a href="{{ url_for('main.case_info') }}">피해 사례 등록</a></li>
                <li><a href="{{ url_for('main.case_search') }}">피해 사례 조회</a></li>
                <li><a href="{{ url_for('main.phishing_info') }}">피싱 사이트 등록</a></li>
                <li><a href="{{ url_for('main.phishing_search') }}">피싱 사이트 조회</a></li>
            </ul>
            <div class="login-btn">
                {% if 'user_id' in session %}
                    <span class="login-text"><a href="{{ url_for('main.mypage') }}">마이페이지</a></span>
                {% else %}
                    <span class="login-text"><a href="{{ url_for('main.login') }}">로그인</a></span>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="main-content">
        <section class="case-info">
            <div class="case-header">
                <h1>등록 사기 사례</h1>
        </section>
        <section class="cases-section">
            <table class="cases-table">
                <thead>
                    <tr>
                        <th>계좌번호</th>
                        <th>명의자 성명</th>
                        <th>피해 유형</th>
                        <th>등록일</th>
                        <th>검거 여부</th>
                    </tr>
                </thead>
                <tbody>
                    {% if cases %}
                    {% for case in cases %}
                    <tr>
                        <td><a href="{{ url_for('case_detail', case_key=case.case_key) }}">{{ case.bank_account }}</a></td>
                        <td>{{ case.bank_nickname }}</td>
                        <td>{{ case.case_type }}</td>
                        <td>{{ case.case_date }}</td>
                        <td>{{ case.suspect_status }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="no-cases">등록한 사례가 없습니다.</td>
                    </tr>
                {% endif %}                 
                </tbody>
            </table>
        </section>
    </main>
    <script>
        document.getElementById('logo').addEventListener('click', function() {
            window.location.href = "{{ url_for('main.index') }}";
        });
    </script>
</body>
</html>
