<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피싱 사이트 조회</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/search.css">
    <link rel="stylesheet" href="./static/css/header.css">
    
</head>
<body>
    <header class="header">
        <div  class="catches-logo"></div>
            <div class=header-wrapper>
                <ul>
                    <li><a href="home.html">홈</a></li>
                    <li><a href="case_info.html">피해 사례 등록</a></li>
                    <li><a href="case_search.html">피해 사례 조회</a></li>
                    <li><a href="phishing_info.html">피싱 사이트 등록</a></li>
                    <span class="li-color"><a href="phishing_search.html">피싱 사이트 조회</a></span>
                </ul>
                <div class=login-btn>
                    <span  class="login-text">로그인</span>
                </div>
            </div>
    </header>
    <main class="main-content">
        <section class="search-section">
            <h1>피싱 사이트 조회</h1>
            <p>피싱 사이트 URL, 피싱 사이트 이름을 입력해주세요</p>
            <form class="phishing-search-form" id="PhishingSearchForm">
                <div class="form-group">
                    <input type="text" id="case" name="case" placeholder="피싱 사이트 URL" required>
                </div>
                <button type="submit" class="submit-btn" id="PhishingSubmitBtn" disabled>검색</button>
            </form>
        </section>
    </main>
</body>
</html>