<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피싱 사이트 상세 조회</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phishing_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <header class="header">
        <div class="catches-logo" id="logo"></div>
        <div class="header-wrapper">
            <ul>
                <li><a href="{{ url_for('main.index') }}">홈</a></li>
                <li><a href="{{ url_for('main.case_info') }}">피해 사례 등록</a></li>
                <li><a href="{{ url_for('main.case_search') }}">피해 사례 조회</a></li>
                <li><a href="{{ url_for('main.phishing_info') }}">피싱 사이트 등록</a></li>
                <span class="li-color"><a href="{{ url_for('main.phishing_search') }}">피싱 사이트 조회</a></span>
            </ul>
            <div class="login-btn">
                {% if 'user_id' in session %}
                    <span class="login-text"><a href="{{ url_for('main.mypage') }}">마이페이지</a></span>
                {% else %}
                    <span class="login-text"><a href="{{ url_for('main.login') }}">로그인</a></span>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="main-content">
        <section>
            <form>
                <h1>피싱 사이트 상세 조회</h1>
                <div class="header-container">
                    <p class="date">사례 등록일: {{ phishing_data.phishing_date }}</p>
                </div>
                <div class="form-group full-width">
                    <label for="site_url" class="fixed-label">피싱 사이트 URL</label>
                    <input type="text" id="site_url" name="site_url" value="{{ phishing_data.site_url }}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="site_name" class="fixed-label">피싱 사이트 이름</label>
                    <input type="text" id="site_name" name="site_name" value="{{ phishing_data.site_name }}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="site_type" class="fixed-label">피해 유형</label>
                    <input type="text" id="site_type" name="site_type" value="{% if phishing_data.site_type == 'personal_info_leak' %}개인정보 유출{% elif phishing_data.site_type == 'malicious_code' %}악성코드 감염{% elif phishing_data.site_type == 'financial_damage' %}금전적 피해{% else %}기타{% endif %}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="site_content" class="fixed-label">사건 개요</label>
                    <textarea id="site_content" name="site_content" rows="10" readonly>{{ phishing_data.site_content }}</textarea>
                </div>
                <div class="form-group full-width">
                    <label for="phishing_count" class="fixed-label">조회수</label>
                    <input type="text" id="phishing_count" name="phishing_count" value="{{ phishing_data.phishing_count }}" readonly>
                </div>
                <div class="form-group full-width">
                    <label for="user_nick" class="fixed-label">작성자</label>
                    <input type="text" id="user_nick" name="user_nick" value="{{ phishing_data.user_nick }}" readonly>
                </div>
            </form>
            <div>
                {% if 'user_id' in session %}
                <form method="post" action="{{ url_for('main.phishing_delete', phishing_key=phishing_data.phishing_key) }}">
                    <button type="submit" class="submit-btn" id="DelSubmitBtn">삭제하기</button>
                </form>
                {% endif %}
            </div>
        </section>
    </main>
    <script>
        document.getElementById('logo').addEventListener('click', function() {
            window.location.href = "{{ url_for('main.index') }}";
        });
    </script>
</body>
</html>
