<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피싱 사이트 조회</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="{{ url_for('static', filename='js/phishing_search.js') }}"></script>
    
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
    <header class="header">
        <div class="catches-logo" id="logo"></div>
            <div class=header-wrapper>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">홈</a></li>
                    <li><a href="{{ url_for('main.case_info') }}">피해 사례 등록</a></li>
                    <li><a href="{{ url_for('main.case_search') }}">피해 사례 조회</a></li>
                    <li><a href="{{ url_for('main.phishing_info') }}">피싱 사이트 등록</a></li>
                    <span class="li-color"><a href="{{ url_for('main.phishing_search') }}">피싱 사이트 조회</a></span>
                </ul>
                <div class="login-btn">
                    {% if 'user_id' in session %}
                        <span class="login-text"><a href="{{ url_for('main.mypage') }}">마이페이지</a></span>
                    {% else %}
                        <span class="login-text"><a href="{{ url_for('main.login') }}">로그인</a></span>
                    {% endif %}
                </div>
            </div>
    </header>
    <main class="main-content">
        <section class="search-section">
            <h1>피싱 사이트 조회</h1>
            <p>피싱 사이트 URL, 피싱 사이트 이름을 입력해주세요</p>
            <form class="phishing-search-form" id="PhishingSearchForm" action="{{ url_for('main.phishing_detail') }}" method="GET">
                <div class="form-group">
                    <input type="text" id="phishingInfo" name="phishingInfo" placeholder="URL, 피싱 사이트 이름" required>
                </div>
                <button type="submit" class="submit-btn" id="PhishingSubmitBtn">검색</button>
            </form>            
            
        </section>
    </main>
    <script>
        document.getElementById('logo').addEventListener('click', function() {
            window.location.href = "{{ url_for('main.index') }}";
        });
    </script>
</body>
</html>